<div class="cell cell-code
  {% if cell.params.overflow %}cell-overflow{% else %}cell-clip{% endif %}{% if cell.params.transparent %} cell-transparent{% endif %}
  cell-halign-{{ cell.params.halign }} cell-valign-{{ cell.params.valign }}"
  style="
    grid-column: {{ cell.params.col }} / span {{ cell.params.colspan }};
    grid-row:    {{ cell.params.row }} / span {{ cell.params.rowspan }};
    {% if cell.params.fontscale != 1.0 %}--cell-font-scale: {{ cell.params.fontscale }};{% endif %}
  "
>
  {% if cell.params.copy_button or cell.params.expand_button %}
  <div class="cell-actions">
    {% if cell.params.copy_button %}
    <button class="btn-action" onclick="copyCell(this)" title="Copiar">&#128203;</button>
    {% endif %}
    {% if cell.params.expand_button %}
    <button class="btn-action" onclick="expandCell(this)" title="Expandir">&#x26F6;</button>
    {% endif %}
  </div>
  {% endif %}

  <div class="cell-body code-body">
    <pre class="hs-pre"><code class="language-{{ cell.language }}">{{ cell.code | e }}</code></pre>
  </div>

  {% if cell.params.caption %}
  <p class="cell-caption">{{ cell.params.caption }}</p>
  {% endif %}
</div>
